@charset "UTF-8";
/*Colors*/
/*Шрифти для текстів та кольори*/
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Утиліти*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

body li {
  list-style-type: none;
}

/*Обнуляю всі відступи стандартні*/
ul {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

/*Розміри контейнера*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*Падінги для секцій*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Title*/
.title {
  color: #212121;
  font-weight: 700;
}

/*Оформлюю кнопку головну*/
.button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button--primary {
  background-color: #2196f3;
  padding: 10px 32px;
}

.button--primary:hover {
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Оформлення button type=button*/
button {
  border: 0px;
  border-radius: 4px;
}

/*Оформляю кнопку другорядну*/
.button--secondary {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Social Icon FOR TEAM SECTION*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
}

.social a {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
  margin-right: 10px;
}

.social a:last-child {
  margin-right: 0px;
}

.social .icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social a:hover,
.social a:focus {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover .icon,
.social a:focus .icon {
  fill: #ffffff;
}

/*Main-Nav*/
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__logo {
  margin-right: 93px;
}

/*Logo*/
.main-nav__logo {
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.main-nav__logo-title {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/*Header*/
.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  border: 2px solid #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}

/*Роблю лінію під текстом*/
header {
  border-bottom: 1px solid #ececec;
}

.site-nav__item {
  position: relative;
}

.site-nav__current {
  color: #2196f3;
}

.site-nav__current::after, .site-nav__current::after {
  opacity: 1;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0px;
}

/*Auth-nav*/
.auth-nav__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth-nav__item {
  margin-right: 30px;
}

.auth-nav__item:last-child {
  margin-right: 0px;
}

/*Page Header*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Оформлення іконок SVG*/
.auth-nav__icon {
  fill: #757575;
}

.auth-nav__icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.auth-nav__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/*Рівняю телефоні текст*/
.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Hero*/
.hero--title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img.jpg");
}

.hero--container {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*Description*/
.description--title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description.section {
  padding-bottom: 0px;
}

.description--item {
  text-decoration: none;
}

.description--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description--title {
  margin-bottom: 10px;
}

.description--item {
  margin-right: 30px;
  max-width: 270px;
}

.description--item:last-child {
  margin-right: 0px;
}

/*Description Label*/
.des-label {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.des-label--icon {
  width: 70px;
  height: 70px;
  position: relative;
  top: 25px;
  left: 100px;
}

/*What We Do*/
.whatwedo--title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.whatwedo--item {
  margin-right: 30px;
  position: relative;
}

.whatwedo--item:last-child {
  margin-right: 0px;
}

/*Label*/
.whatwedo--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whatwedo--list .label--title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.whatwedo--list .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

/*Team*/
.team--title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team--list .team--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team {
  background-color: #f5f4fa;
}

.team--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team--item {
  margin-right: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team--item:last-child {
  margin-right: 0px;
}

.team--text {
  text-align: center;
  margin-bottom: 16px;
}

.team--item-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*Clients*/
.clients--title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  padding-top: 91px;
  padding-bottom: 94px;
}

.logo {
  fill: #afb1b8;
}

.clients--link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients--link:hover .logo,
.clients--link:focus .logo {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients--logo .logo {
  width: 106px;
  height: 60px;
}

.clients--logo .link:hover,
.clients--logo .link:focus {
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--logo a {
  margin-right: 30px;
}

.clients--logo a:last-child {
  margin-right: 0px;
}

/*Модальне Вікно*/
.hero .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*Кнопка закриття модалки*/
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal .icon.close {
  position: relative;
  top: 9px;
  left: 9px;
  -webkit-transform: translate(-8px, -7px);
          transform: translate(-8px, -7px);
  width: 11px;
  height: 11px;
  cursor: pointer;
}

/*Modal*/
.modal .title {
  padding-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.modal-list .item {
  margin-bottom: 10px;
}

.modal-list .item:last-child {
  margin-bottom: 20px;
}

.modal .button.primary {
  margin-top: 30px;
}

.modal-list .item {
  position: relative;
}

.modal-list input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.modal-form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}

.modal .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 35px;
  left: 12px;
}

.modal .coment {
  padding-left: 16px;
}

.modal .modal-close:focus .icon,
.modal .modal-close:hover .icon {
  fill: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal input:focus + .icon {
  fill: #2196f3;
}

.modal .checkbox-link {
  color: #2196f3;
}

.modal .coment {
  height: 120px;
  padding-bottom: 80px;
}

.modal .item {
  text-align: left;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal .icon-checkbox {
  width: 16px;
  height: 15px;
  position: absolute;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: -24px;
}

.modal .label-check {
  padding-left: 24px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .checkbox:checked + .icon-checkbox {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal input:hover {
  cursor: pointer;
}

.modal .label-check:hover {
  cursor: pointer;
}

.modal .button.primary {
  width: 200px;
}

.modal-form {
  padding-bottom: 40px;
}

/*Портфолио Portfolio Style*/
/*Вирубую заголовок*/
.primary-title {
  display: none;
}

/*Title*/
.cards .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards p {
  font-size: 16px;
  line-height: 1.87;
}

.categories-button .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.categories--item {
  margin-right: 8px;
}

.categories--item:last-child {
  margin-right: 0px;
}

.cards--item {
  margin-right: 30px;
  margin-top: 30px;
}

.cards--item:nth-child(3n + 3) {
  margin-right: 0px;
}

.cards--item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .cards-wraper {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-wraper .title {
  margin-bottom: 4px;
}

/*Позбуваюсь зазора зверху*/
.cards img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Портфоліо Card-label*/
.card-label .text {
  width: 370px;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
}

.card-link {
  position: relative;
}

.card-label {
  height: 294px;
  overflow: hidden;
}

.card-label .text {
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards--item:hover .card-label .text {
  -webkit-transform: translateY(-294px);
          transform: translateY(-294px);
}

/*Даю колір який мені треба*/
.cards-wraper p {
  color: #757575;
}

/*Footer*/
.footer .link,
.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover, .footer .link:focus,
.footer .link:hover,
.footer .link:focus {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address,
.footer .main-nav__logo {
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}

.foot {
  max-width: 231px;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Якось рівняю всю цю діч у футері*/
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer .logo-address {
  margin-right: 70px;
}

/*Футер форма підписки*/
.submit .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.submit .button--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
  padding-left: 16px;
}

.submit .title {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*Join*/
.join .title {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join .icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join a:hover, .join a:focus {
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join a:last-child {
  margin-right: 0px;
}

.footer .join {
  margin-right: 93px;
}

/*Адрес і номер телефону порівняв як на макеті*/
.foot .link.adres {
  display: inherit;
  margin-top: 9px;
  margin-bottom: 9px;
}
/*# sourceMappingURL=main.css.map */