/*Clients*/
.clients--title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.clients {
  padding-top: 91px;
  padding-bottom: 94px;
}

.logo {
  fill: $primary-icon-color;
}

.clients--link {
  width: 170px;
  height: 92px;
  border: 1px solid $primary-icon-color;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .logo,
  &:focus .logo {
    fill: $accent-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients--logo {
  display: flex;

  & .logo {
    width: 106px;
    height: 60px;
  }

  & .link:hover,
  & .link:focus {
    border-color: $accent-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & a {
    margin-right: 30px;
  }

  & a:last-child {
    margin-right: 0px;
  }
}
