.description {
  &--title {
    text-align: center;
  }

  &--title {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  & p {
    margin-bottom: 30px;
  }
}

.des-label {
  background-color: $secondary-bg-color;

  & {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
  }

  &--icon {
    width: 70px;
    height: 70px;
  }
}
