/*Menu Button*/
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.page-header {
  position: relative;
}

/*Main-Nav*/
.main-nav {
  display: flex;
  align-items: center;
}

/*Logo*/
.main-nav__logo {
  color: $title-text-color;
  font-family: "Roboto";
  font-weight: 700;

  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    & {
      margin-right: 88px;

      padding-top: 26px;
      padding-bottom: 26px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      font-size: 26px;
      line-height: 31px;

      margin-right: 93px;
    }
  }
}

.main-nav__logo-title {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/*Site-nav*/
.site-nav {
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: $title-text-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__current {
    color: $accent-color;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    & {
      display: flex;
    }

    &__link {
      font-size: 14px;
      line-height: 16px;

      position: relative;
    }

    &__link::after {
      content: "";
      position: absolute;
      bottom: -28px;
      left: 0;
      width: 100%;
      border: 2px solid #2196f3;
      border-radius: 2px;
      opacity: 0;
    }

    &__current::after {
      opacity: 1;
    }

    &__item {
      margin-bottom: 0;

      margin-right: 50px;
    }

    &__item:last-child {
      margin-bottom: 0;

      margin-right: 84px;
    }
  }
}

/*Auth-nav*/
.auth-nav {
  &__icon {
    display: none;
  }

  &__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.02em;

    color: $primary-text-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    margin-bottom: 32px;
  }

  &__item:first-child {
    margin-bottom: 64px;
  }

  & {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
    & {
      flex-direction: column;
    }

    &__link {
      font-size: 12px;
      line-height: 14px;

      display: flex;
      align-items: center;
    }

    &__icon {
      display: block;

      margin-right: 8px;

      fill: $primary-text-color;
    }

    &__icon-phone {
      width: 14px;
      height: 10px;
    }

    &__icon-email {
      width: 10px;
      height: 14px;
    }

    &__item {
      margin-bottom: 0;
    }

    &__item:first-child {
      margin-bottom: 8px;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
      fill: $accent-color;

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover &__tel {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    &__link {
      font-size: 14px;
      line-height: 16px;
    }

    & {
      display: inherit;
      flex-direction: row;

      margin-left: auto;
    }

    &__icon-email {
      width: 16px;
      height: 12px;
    }

    &__icon-phone {
      width: 10px;
      height: 16px;
    }

    &__icon {
      margin-right: 10px;
    }

    &__item {
      margin-right: 30px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}

/*Line for  after header tablet+*/
@media screen and (min-width: 768px) {
  header {
    border-bottom: 1px solid #ececec;
  }
}

/*Soc-nav  FOR MOBILE ONLE*/
.soc-nav {
  & {
    display: flex;

    padding-bottom: 48px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: $accent-color;

    margin-right: 10px;
  }

  &__link::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

    margin-left: 10px;
  }

  &__item:last-child &__link::after {
    border: none;
  }

  @media screen and (min-width: 768px) {
    & {
      display: none;
    }
  }
}

/*Fixed menu*/
.menu-button.is-open::before {
  content: "";
  width: 100%;
  height: 60px;

  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80%;
}

.menu-button.is-open .main-nav {
  position: fixed;
}

.menu-button.is-open .menu-icon {
  position: fixed;
  right: 23px;
  top: 0;
}
