/*Портфолио Portfolio Style*/

/*Вирубую заголовок*/
.primary-title {
  display: none;
}

/*Title*/
.cards .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards p {
  font-size: 16px;
  line-height: 1.87;
}

.categories-button .categories {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
}

.categories--item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

.cards--item {
  margin-right: 30px;
  margin-top: 30px;

  &:nth-child(3n + 3) {
    margin-right: 0px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.cards .cards-wraper {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-wraper .title {
  margin-bottom: 4px;
}

/*Позбуваюсь зазора зверху*/
.cards img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Портфоліо Card-label*/
.card-label .text {
  width: 370px;

  color: $primary-white-color;

  font-size: 18px;
  line-height: 28px;

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
}

.card-link {
  position: relative;
}

.card-label {
  height: 294px;

  overflow: hidden;
}

.card-label .text {
  background-color: $cards-overlay;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards--item:hover .card-label .text {
  transform: translateY(-294px);
}

/*Даю колір який мені треба*/
.cards-wraper p {
  color: $primary-text-color;
}
