/*Team*/
.team--title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.team--list .team--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;

  margin-bottom: 10px;
}

.team {
  background-color: $secondary-bg-color;
}

.team--list {
  display: flex;
}

.team--item {
  margin-right: 30px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0px;
  }
}

.team--text {
  text-align: center;

  margin-bottom: 16px;
}

.team--item-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}
