/*Colors*/
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$first-bg-color: #2f303a;
$footer-address-color: rgba(255, 255, 255, 0.6);
$hero-gradient: rgba(47, 48, 58, 0.4);
$primary-icon-color: #afb1b8;
$secondary-icon-color: rgba(255, 255, 255, 0.1);
$before-element-is: rgba(33, 150, 243, 1);
$label-bg: rgba(47, 48, 58, 0.8);
$overlay: rgba(0, 0, 0, 0.2);
$cards-overlay: rgba(33, 150, 243, 0.9);
